/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 2.4.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

.coupon-msg .uabb-creative-default-btn{
	display: flex;
}

#menu-main-menu > li > .sub-menu > li.uabb-has-submenu  span.uabb-menu-toggle{
	padding: 5px 10px!important;
}
#breadcrumbs a{
	text-transform: capitalize!important;
}
.custom_searchModule {
	display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 220px;
    padding: 5px 20px;
    background: #B49462;
    width: 500px;
}
.content.site-content {
	overflow-x: hidden!important;
}
 body .fl-button{
	background-clip: border-box;
	border-radius: 0px!important;
	border: 2px solid #415161!important;
	background: rgba(255,255,255,0)!important;

}
body .fl-button:hover{
	border-color: #415161!important;
	color: #ffffff!important;
	background: #415161!important;
}
body .fl-button:hover span{
    color: #ffffff!important;
}
.gfield{
	padding-right: 15px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.product-grid > .product-row h2,  .entry-content .product-grid > .product-row h2, .entry-content .product-grid > .product-row h2 a {
    font-size: 30px!important;
}
.topBar .storename .phone a{
	color: #fff!important;
}
.topBar .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-additional-content .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-additional-content .storename .phone a > span{
	color: #fff!important;
}
.search_result .product-grid h2 > a{
	font-size: 30px!important;
}

.search_result .product-grid .fl-button{
	display: inline-block!important;
    font-size: 16px!important;
    font-weight: normal!important;
    line-height: 18px!important;
    padding: 12px 24px!important;
    text-decoration: none!important;
    text-shadow: none!important;
}

.product-grid.swatch h4 {
    font-size: 14px!important;
}
.product-variations .slick-list{
	width: 100%!important;
}
.product-detail-layout-default .product-variations {
	display: inline-block!important;
}
#breadcrumbs{
	position: relative!important;
	z-index: 10!important; 
}
.fl-content-slider-navigation > .slider-prev, .fl-content-slider-navigation > .slider-next{
	background-color: rgba(0,0,0,0.6)!important;
    padding: 4px!important;
}
.skin_btn .fl-button{
	background-color: #02528A!important;
	color: #fff!important;
}
.skin_btn .fl-button{
	background-color: #02528A!important;
	color: #fff!important;
}
.no-btn-skin > .fl-module-content > .fl-button-wrap > a.fl-button:hover * {
    color: #007e8e!important;
}
body .fl-button{
	color: #415161!important;
}
/* 
.product-box > .row{
	display: inline-block!important;
}
 */

.product-detail-layout-6 .button-wrapper{
    display: inline-block!important;
    width: 100%!important;
}
.ast-title-bar-wrap {
    margin-bottom: 0px!important;
}
body.blog #content{
	padding: 20px!important;
}

 @media screen and (min-width: 768.5px) and (max-width: 1366.5px) {
	
	#menu-main-menu > li.menu-item-has-children > div{
		display: flex;
	    align-items: center;
	}
#menu-main-menu > li.menu-item-has-children > div > span{
	order: 1;
	color: #b49462!important;
	padding-left: 5px!important;
}

 }
@media screen and (min-width: 992px) {
.product-box h1 {
    font-size: 50px!important;
}

}

@media screen and (min-width: 768.5px) and (max-width: 1024px) {
h3.uabb-ultb3-title {
    font-size: 26px!important;
}

}
@media screen and (max-width: 1024px) {
	.style-product_list .pro-container > .row > .col-md-7{
		width: 100%!important;
		min-height: 400px!important;
	}
}
@media screen and (max-width: 992px) {
	#responsive-menu-additional-content, #responsive-menu-search-box{
		padding: 10px 5%!important;
	}
	.ast-custom-header > div > div > div:nth-child(1){
		display: none!important;
	}

	.uabb-creative-menu-mobile-toggle-container {
		display: none!important;
	}

	.ast-custom-header #menu-main-menu {
		display: none!important;
	}
	button#responsive-menu-button{
		width: 40px!important;
		height: 40px!important;
	}
}

@media screen and (max-width: 768px) {
	body.page-template #page{
		overflow: hidden;
	}
	.fl-slide-0 .fl-slide-content{
		padding: 0px!important;
		background: #fff!important;
	}
	.max-width-issue{
		max-width: 360px!important;
	}
	.max-width-issuetwo{
		max-width: 400px!important;
	}
	  .headerLogo .uabb-photo-content img{
   		width: 225px!important;
   }
	button#responsive-menu-button{
		position: absolute!important;
		top: 35px!important;
	}
	.fl-slide-0 .fl-slide-content {
    	background-color: #fff;
	}
	.product-grid > .product-row h2,  .entry-content .product-grid > .product-row h2, .entry-content .product-grid > .product-row h2 a {
    font-size: 30px!important;
	}
	/* Slider height issue on mobile open */

	.fl-content-slider .fl-slide-bg-photo {
		position: absolute!important;
		min-height: 500px!important;
	}
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
	.fl-slide-mobile-photo {
		z-index: +2;
		position: relative;
		max-height: 500px!important;
		text-align: center!important;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.fl-slide-mobile-photo > img{
		padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
	}
	.fl-content-slider .fl-slide {
		min-height: 500px !important;
		max-height: 500px !important;
	}
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
		/* Slider height issue on mobile closed */
}
@media screen and (max-width: 425px) {
	.mhtwen > .fl-module-content{
		margin-left: 20px!important;
		margin-right: 20px!important;
	}
	.max-width-issue{
		max-width: none!important;
	}

.gform_footer {
	padding-right: 15px!important;
}
}